@use "variables" as v;

.fondo{
    background: #f5f5f5;
background: linear-gradient(90deg, rgba(245, 245, 245, 1) 0%, rgba(6, 184, 39, 1) 51%, rgba(199, 237, 194, 1) 100%);
}

/* Contenedor del formulario */
.form-container {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: #0a0f0a;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(7, 226, 7, 0.2);
    color: white;
    font-family: Arial, sans-serif;
    border: 1px solid rgba(0, 255, 0, 0.3);
}

/* Título */
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8aff8a;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

/* Agrupación de inputs */
.escritura{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.escritura label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #9bff9b;
}

.escritura input,
.escritura textarea {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #1f301f;
    background: #111;
    color: white;
    font-size: 15px;
    transition: 0.3s;
}

.escritura input:focus,
.escritura textarea:focus {
    border-color: #00cc44;
    box-shadow: 0 0 8px rgba(0, 255, 100, 0.5);
    outline: none;
}

.escritura textarea {
    resize: none;
    height: 120px;
}

/* Botones */
.botones{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.boton {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

/* Botón enviar */
.enviar {
    background: #00cc44;
    color: black;
}

.enviar:hover {
    background: #00ff55;
    box-shadow: 0 0 10px #00ff55;
}

/* Botón reiniciar */
.reiniciar {
    background: #444;
    color: white;
}

.reiniciar:hover {
    background: #666;
}
