@use "variables"as v;

.sectionjuegos {
    background-image: url(../assets/fondo\ juegos.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 100vh;
.imagenesjuegos img {
    width: v.$width3;
    height: 400px;
    border: 10px solid white;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
    background: white;
}
:hover{
    transition: transform 0,3s ease, box-shadow 0,3s ease;
    cursor: pointer;
    transform: scale(1.08);
    box-shadow: 0 10px 25px;
}
}

